<ul>
	<% order.order_items.each do |item| %>
		<li>
			<%= item.quantity %>
			<%= item.product.name %>
			<%= number_to_currency item.total_price %>
		</li>
	<% end %>
</ul>

<p>Total price: <%= number_to_currency order.total_price %></p>