<h1>Enter payment</h1>

<%= render "data", order: @order %>

<%= form_tag pay_order_path do %>
	<form id="checkout" method="post" action="/checkout">
  			<div id="payment-form"></div>
  		
  		<p><%= submit_tag "Pay", class: "btn btn-primary"%></p>
		</form>
		
		
	</div>
	<%= render "braintree" %>
<% end %>