#necklace_header {
    
  background-repeat:no-repeat;
  background-position: top center;
 
  background-size: cover;  
  
  height: auto;
  margin-bottom: 20px; 

}



#necklace_header h1{
color: #999;
letter-spacing: .6em;

padding-left: 20px;
font-size: 2em;
margin-top: 40px;

}





.product_top{
  margin-top: 50px;
  padding: 20px 0 20px 0;

  margin-bottom: 40px;
  
}