.product_top{
  margin-top: 80px;
padding: 20px 0 20px 0;
border-bottom: 1px #eaeaea solid;
margin-bottom: 40px;

}

.breadcrumb{
background:transparent;
  margin-top: 60px;
}


.product_description{
margin-top: 20px;


}

.product_description p{
      text-transform: none;
  padding: .8em;
  font-size: .9em;
  color: #555;
      line-height: 2em;

}

.product_description h5{
      
      text-transform: none;
      
      font-size: 1.2em;
      color: #555;
  
}

.price{

font-size: 1.5em;
color: #555;
margin-top: -30px;

}

.add_to_cart{
margin-top: 30px;
padding: 10px, 0px, 10px, 0px;

color: #555;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  
  border: #555 1px solid;
  
}
.add_to_cart p{
margin: 0;
padding: 0;
}
