#stockists_head {
  background: url('about/about9.png') ;
  width: 110%;
  height: auto ; /* ? */
  background-repeat:no-repeat;
  background-position: top center;
  background-size: cover;  
  background-position: center top; 
  height: 560px; 
}