<div id="site-notification">
	<div>
		<p class="postlist-text"data-toggle="modal" data-target="#myModal">Please subscribe to our postlist</p> 
		<button class="close"></button>
	</div>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Please subscribe to our post list</h4>
      </div>
      <div class="modal-body">
        <%#= render 'emails/email' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $("#site-notification").click(function(){
        $("#site-notification").hide();
    });
        
});
</script>